body {
	background-color:#f8f4f4;
	 margin: 20px;
}

table{
box-shadow: 1px 1px 1px red;
font-family:georgia, serif;
text-align:center;
}
caption{
	background:	 #f6e8e8;
}
td {
	width: 180px;
	text-align: center;
}

th{
text-align: center; 
}

h1 {
    color: blue;
}

h2 {
    color:#0000ff;
    position: relative;
    left:40%;
    margin-top: 70px;
    width:300px ;
}

.entete{
	margin: 30px;
	padding-top: 15px;
}

.logo{ 
}
.logoImg{
  width:120px;   
  height:96px;  
}

.info_personne{
    position: relative;
	left:  70%;
    width:200px ;
}
select{
    width: 150px;
}
#duree{
    width: 50px;
}

.renseigner_creneau_tab{
    position: relative;
    left: 20%;
}

.info_dh{
}

.info_dh_tab{
    position: relative;
    left: 20%;
    margin-top: 30px;
}

.list_etudiant{  
}

.listEtudiant{
    position: relative;
    left: 20%;
    margin-top: 30px;
    max-width:500px;
}


.div_bouton{
	position: relative;
	left:  40%;
	margin-top: 20px;
        width:200px ;
}

.btn_initialiser {
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background:#d34836;
	color:#cbabab;
	width:90px;
	text-align: center;
	border-radius:2px;
	border:none;
	margin-left:20px;
	margin-bottom: 50px;
	;
}

.btn_valider{
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background:#d34836;
	color:#cbabab;
	width:90px;
	text-align: center;
	border-radius:2px;
	border:none;
	margin-left:40px;
	margin-bottom: 50px;
}

/*
-- css de timePicker ---
*/

/* ---------------------
  CSS timePicker 
   ---------------------
*/

label.timePicker {
  color: #945;
  font-size: 1.5rem;
  font-weight: bold;
}

input.timePicker {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='20' r='18.5' fill='none' stroke='%23222' stroke-width='3' /><path d='M20,4 20,8 M4,20 8,20 M36,20 32,20 M20,36 20,32' stroke='%23bbb' stroke-width='1' /><circle cx='20' cy='20' r='2' fill='%23222' stroke='%23222' stroke-width='2' /></svg>"), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M18.5,24.5 19.5,4 20.5,4 21.5,24.5 Z' fill='%23222' style='transform:rotate(120deg); transform-origin: 50% 50%;' /></svg>"), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M18.5,24.5 19.5,8.5 20.5,8.5 21.5,24.5 Z' style='transform:rotate(20deg); transform-origin: 50% 50%;' /></svg>");
  background-position: 0.5rem 50%;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  border: 0.25rem solid #945;
  border-radius: 1rem;
  color: #222;
  font-size: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  transition: backgroundImage 0.25s;
}

input.timePicker:focus {
  outline: 2px dashed #945;
  outline-offset: 3px;
}


#msg_timeErr{
  display: none;
  color:red;
}